body {
  margin: auto;
  background-color: #DCDCDC;
  font-family: 'Raleway', sans-serif;


}

#invitacion-login {
  /*border: 2px solid red;*/
  color: #FFFFFF;

/* paracentrar */
 width: auto;
 margin: 0 auto;
 /* para posicionar mas abajo*/
 padding-top: 20px;
 text-align: center;
}

img {
  margin-bottom: 20px;
}

#caja-login {
  /*border: 2px solid red;*/
  align-items: center;
  background-color: #FFFFFF;
  padding: 70px;
  border-radius: 10px;
  margin-bottom: 5%;

  /* paracentrar */
   width: 200px;
   margin: 0 auto;
}

#user, #password {
  background-color: #DCDCDC;
  border: none;
  padding-right: 30px;
}

.texto-boton{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

#ingresar {
  background-color: #F7B617;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin-left: 50px;
  margin-top: 20px;
}

footer{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 5%;
}

.copyright{
  background-color: #363636;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  color: white;
}
