body {
  margin: auto;
  background-color: #DCDCDC;
  font-family: 'Source Sans Pro', sans-serif;


}

#invitacion-login {
  /*border: 2px solid red;*/
  color: #FFFFFF;

/* paracentrar */
 width: auto;
 margin: 0 auto;
 /* para posicionar mas abajo*/
 padding-top: 20px;
 text-align: center;
}

img {
  margin-bottom: 20px;
}

#caja-login {
  /*border: 2px solid red;*/
  align-items: center;
  background-color: #FFFFFF;
  padding:70px;
  margin-bottom: 80px;
  border-radius: 10px;

  /* paracentrar */
   width: 200px;
   margin: 0 auto;
}

#user, #password {
  background-color: #DCDCDC;
  border: none;
  padding-right: 30px;
}

.texto-boton{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

#ingresar {
  background-color: #F7B617;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin-left: 50px;
  margin-top: 20px;
}

footer {
  /* paracentrar */
   width: 200px;
   margin: 0 auto;
}
