* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #DCDCDC;
  font-family: 'Raleway', sans-serif;
  line-height: 18px;
}

header{
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: white;
}

nav{
  width: 20%;
  height: auto;
  margin: 0 auto;
}

.lab-logo{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.bienvenida{
  width: 100%;
  height: auto;
  background-color: #363636;

}

p{
  text-align: right;
  margin-right: 2%;
  color: white;
  margin-top: 0;
  line-height: normal;
}

.name{
  font-size: 30px;
  margin-bottom: 0;
}

.name span{
  color: #F7B500;
}
.container{
  width: 80%;
  height: auto;
  margin-left: 10%;
  display: inline-block;
}

.contenedor-menu{
  width: 40%;
  height: auto;
  margin-top: 4%;
  margin-bottom: 0;
  float: left;
}

.contenedor-foto{
  width: 35%;
  height: auto;
  margin: 0 auto;
  margin-top: 4%;
  float: right;
}

.contenedor-foto img{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

a {
  /* para quitar subrayado */
  text-decoration: none;
  color: #FFF;
}

.btn-menu {
  display: none;
  padding: 20px;
  background: #f7b680;
  color: #FFF;
}

.btn-menu .icono {
  float: right;
}

.contenedor-menu {
  width: 50%;
  min-width: 300px;
  margin: 50px;
  display: inline-block;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 18px;
}

.contenedor-menu .menu {
  width: 100%;
}

.contenedor-menu ul {
  /* para quitar viñetas que vienen por defecto */
  list-style: none;
}

.contenedor-menu .menu li a {
  color: #494949;
  display: block;
  padding: 15px 20px;
  background: #E9E9E9;
}

.contenedor-menu .menu li a:hover {
  background: #C18F15;
  color: #FFF;
}

.contenedor-menu .menu .izquierda {
  font-size: 12px;
  line-height: 18px;
}

.contenedor-menu .menu .iconoizquierdo {
  float: right;
  margin-right: 10px;
}

.contenedor-menu .menu ul li ul {
  display: none;
}

.contenedor-menu .menu ul li a {
  background: #424242;
  color: #E9E9E9;
}

.contenedor-menu .menu .activado>a {
  background: #2B2B2B;
  color: #FFF;
}

.contenedor-foto{
  float: right;
}

@media screen and (max-width: 450px) {
  body {
    padding-top: 80px;
  }
  .conetenedor-menu {
    margin: 0;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
  }
  .contenedor-menu .menu {
    display: none;
  }
}

button{
  background-color: #F7B617;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin-left: 43%;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}

.texto-boton{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

footer{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.copyright{
  background-color: #363636;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
}